<% if @article.errors.any? %>
  <h2>The following errors occured while saving the article:</h2>
   <ul>
    <% @article.errors.full_messages.each do |msg| %>
    <li>  <%= msg %></li>
    
     <% end %>
   </ul>
   

<% end %>



    <%= form_with(model: @article, local: true ) do |f| %>

    <p>
        <%= f.label :title %><br/>
        <%= f.text_field :title %>
    </p>
    
    <p>
        <%= f.label :description %><br/>
        <%= f.text_area :description %>
    </p>
    
    <p>
        <%= f.submit %>
    </p>

  <% end %>