<h1>Showing article's details</h1>

<p> <strong>Title: </strong> <%= @article.title %> </p>
<p> <strong>Description: </strong> <%= @article.description %> </p>

<%= link_to 'Edit', new_article_path(@article) %>  |

<%= link_to 'Delete', article_path(@article),  method: :delete, data: {confirm: "Are you sure you want to delete this article?"} %> | 

<%= link_to 'Return to Article Page', articles_path %>