
<h1 class= "home1">Welcome to the Homepage</h1>
<div id="page-content">
    
    <div class = "container" id= "home-container">
     <div class="jumbotron text-white text-center">
      <h1 class="display-4">ALPHA BLOG!</h1>
      
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <a class="btn btn-success btn-lg" href="#" role="button">Sign Up</a>
    </div>
</div>
    
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; <%= link_to "ernest offor", "https://gitlab.com/offor20", class:"text-white"  %></small>
    </div>
</footer>